<?xml version="1.0"?>

<robot name="$(arg mav_name)" xmlns:xacro="http://ros.org/wiki/xacro">

    <!-- Included URDF Files -->
    <xacro:include filename="$(find rotors_description)/urdf/soliro_snippets.xacro"/>

    <!-- TODO update Properties -->
    <xacro:property name="namespace" value="$(arg namespace)"/>
    <xacro:property name="rotor_velocity_slowdown_sim" value="10"/>
    <xacro:property name="use_mesh_file_core" value="true"/>
    <xacro:property name="use_mesh_file_rotor_unit" value="true"/>
    <!-- TODO change add meshes to package -->
    <xacro:property name="mesh_soliro_base" value="package://rotors_description/meshes/soliro/soliro_body.stl"/>
    <xacro:property name="mesh_soliro_base_collision" value="package://rotors_description/meshes/soliro/soliro_body.stl"/>
    <xacro:property name="mesh_soliro_wing" value="package://rotors_description/meshes/soliro/soliro_wing_right.stl"/>
    <xacro:property name="mesh_soliro_motor_unit" value="package://rotors_description/meshes/soliro/motor_unit.stl"/>

    <xacro:property name="mass_core" value="3.13"/>    <!-- [kg] -->
    <xacro:property name="mass_tilt_unit" value="0.277"/>    <!-- [kg] -->
    <xacro:property name="body_width" value="0.22"/>    <!-- [m] -->
    <xacro:property name="body_height" value="0.45"/>    <!-- [m] -->
    <xacro:property name="mass_rotor" value="0.0065"/>    <!-- [kg] -->
    <xacro:property name="arm_length" value="0.350"/>    <!-- [m] -->
    <xacro:property name="rotor_offset_top" value="0.035"/>    <!-- [m] -->
    <xacro:property name="radius_rotor" value="${0.1143*4/3}"/>    <!-- 12 in [m] -->

    <xacro:property name="tilt_unit_parent" value="${namespace}/base_link_inertia"/>    <!-- 12 in [m] -->
    <xacro:property name="body_origin">
        <origin xyz="0 0 0" rpy="0 0 0" />
    </xacro:property>

    <xacro:property name="sin30" value="0.5"/>
    <xacro:property name="cos30" value="0.866025403784"/>

    <!-- TODO update Property Blocks with correct values -->
    <xacro:property name="body_inertia">
        <inertia ixx="0.0075" ixy="${-3.4208e-05}" ixz="${2.4695e-05}" iyy="0.010939" iyz="${-3.8826e-06}" izz="0.01369"/>
        <!-- [kg m^2] [kg m^2] [kg m^2] [kg m^2] [kg m^2] [kg m^2] -->
    </xacro:property>

    <!-- Body Inertia / CoM Offset -->
    <xacro:property name="body_inertia_origin">
        <!-- <origin xyz="0.03 0 0.01" /> -->
        <origin xyz="0.0 0.0 0.0" />
    </xacro:property>

    <!-- Rotor unit inertia without the propeller. -->
    <xacro:property name="tilt_unit_inertia">
        <inertia ixx="0.00034257" ixy="0" ixz="0" iyy="0.0013205" iyz="0" izz="0.0010037"/>
        <!-- [kg m^2] [kg m^2] [kg m^2] [kg m^2] [kg m^2] [kg m^2] -->
    </xacro:property>

    <!-- Inertia of a single rotor, assuming it is a cuboid. Height=3mm, width=15mm. -->
    <xacro:property name="rotor_inertia">
        <xacro:box_inertia x="${radius_rotor}" y="0.020" z="0.003" mass="${mass_rotor*rotor_velocity_slowdown_sim}"/>
    </xacro:property>

    <!-- Instantiate multirotor_base_macro once. -->
    <xacro:soliro_base_macro
            robot_namespace="${namespace}"
            mass="${mass_core}"
            body_width="${body_width}"
            body_height="${body_height}"
            use_mesh_file="${use_mesh_file_core}"
            mesh_file="${mesh_soliro_base}"
            collision_mesh_file="${mesh_soliro_base_collision}">
        <xacro:insert_block name="body_origin"/>
        <xacro:insert_block name="body_inertia"/>
        <xacro:insert_block name="body_inertia_origin"/>
    </xacro:soliro_base_macro>

    <!-- Right wing unit-->
    <xacro:wing_unit
            robot_namespace="${namespace}"
            direction="ccw"
            parent="${tilt_unit_parent}"
            mass_rotor="${mass_rotor}"
            mass_tilt_unit="${mass_tilt_unit}"
            rotor_offset_top="${rotor_offset_top}"
            wing_number="0"
            mesh_tilt_wing="${mesh_soliro_wing}"
            mesh_motor_unit="${mesh_soliro_motor_unit}"
            color="Black">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <xacro:insert_block name="rotor_inertia" />
    </xacro:wing_unit>

    <!-- Left wing unit-->
    <xacro:wing_unit
            robot_namespace="${namespace}"
            direction="ccw"
            parent="${tilt_unit_parent}"
            mass_rotor="${mass_rotor}"
            mass_tilt_unit="${mass_tilt_unit}"
            rotor_offset_top="${rotor_offset_top}"
            wing_number="1"
            mesh_tilt_wing="${mesh_soliro_wing}"
            mesh_motor_unit="${mesh_soliro_motor_unit}"
            color="Black">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <xacro:insert_block name="rotor_inertia" />
    </xacro:wing_unit>

    <!-- Rear actuation unit -->
    <xacro:rear_rotor
            robot_namespace="${namespace}"
            direction="ccw"
            parent="${tilt_unit_parent}"
            mass_rotor="${mass_rotor}"
            rotor_offset_top="0.05"
            color="Black">
        <origin xyz="-0.7845 0 0.0325" rpy="0 0 0"/>
        <xacro:insert_block name="rotor_inertia" />
    </xacro:rear_rotor>

</robot>